{% extends 'products/base.html' %}
{% block titulo %} carrito {% endblock titulo %} 

{% block contenido %}

<body>
         
    <div class="container">
        <div class="row">
            <div class="row">
                
                   {% for planta in plantas %}
                   
                   <div>
                    <div class="card" style="stylesheet"> 
                        <div class="card-body">
                            <h5 class="card-title">{{planta.nombre}}</h5>
                            <p class="card-text">{{planta.precio}}</p>
                            <a href="{% url 'addcarrito' planta.id %}" class="btn btn-primary">Agregar al carrito</a>

                        </div>
                    </div>

                   </div>
                   
                   {% endfor %}

                   <div>
                    {% include 'carrito/carrito.html' %}
                   </div>
                
                
                
                
                
                   <input type='submit' value='Enviar'>
                   <div class="pie-form">
                    <a href="{% url 'Productos' %}">Volver al Listado</a>
                   </div>


                  </form>
                  
                </div>
            </div>

        </div>
    </div>
</body>









{% endblock contenido %}











