{% extends 'products/base.html' %}
{% load static %}


{% block contenido %}

<div id="contenedor" style="background-color:pink" >
    <div id="central">
       
            <div >
               <h1 class="modal-title">Entrada</h1>
            </div>
            
              <form  method='post' enctype='multipart/form-data'>
             
              {%csrf_token%}
              {{form}}

             <input class="btn btn-success"type='submit' value='Enviar'>
             <div class="pie-form">
                <a href="{% url 'blog' %}">Ir al Blog</a>
             </div>
            </form>
              
            </div>
     

    </div>
</div>
<br>



{% endblock contenido %}