{% extends 'products/base.html' %}
{% load static %}
{% block titulo %}Acerca de Nos..{% endblock titulo %}
{% block contenido %}

<div class="container-xl">
   <p style="color:black; text-central; float:right">
      <div class="card card-body">
         <strong class="text-xl-center">Sobre mi:
            Mi nombre es Leandro, soy de Dolores Pcia de Bs As, trabajé en sistemas e
            informatica hace varios años atrás, durante varios años, y decidí volver a estudiar.
            Decidí una rama diferente a la que estaba acostumbrado y python me parecio un buen comienzo..
            Este es el intento de pagina jaja, que irá mejorando..
         </strong>
      </div>
   </p>
</div>

{% endblock contenido %}