{% extends "products/base.html" %}
{% load  static %}
 
 {% block titulo %}
     Login
 {% endblock titulo %}

 {% block contenido %}




     <body>
         
         <div id="contenedor">
             <div id="central">
                 <div id="login">
                     <div class="titulo">
                         Inicie Sesión
                     </div>
                     <form id="loginform">
                         {% csrf_token %}
                         <input type="text" name="usuario" placeholder="Usuario" required>

                         
                         <input type="password" placeholder="Contraseña" name="password" required>
                         
                         <button type="submit" title="Ingresar" name="Ingresar">Login</button>
                     </form>
                     <div class="pie-form">
                         <a href="#">¿Perdiste tu contraseña?</a>
                         <a href="{% url 'registro' %}">¿No tienes Cuenta? Registrate</a>
                     </div>
                 </div>
                 
             </div>
         </div>
             
     </body>


 {% endblock contenido %}

