{% extends "products/base.html" %}
{% load  static %}
 
 {% block titulo %}
     Registro
 {% endblock titulo %}
 
 {% block contenido %}

 <body>
         
    <div id="contenedor">
        <div id="central">
            <div id="login">
                <div class="titulo">
                    Registro de Usuario
                </div>
 <form action="{% url 'registro' %}" method='post'>
    {%csrf_token%}
    <p> Nombre:</p>
    <input type='text' name='nombre'>
    <p> Apellido:</p>
    <input type='text' name='apellido'>
    <p> Fecha de Nacimiento:</p>
    <input type='date' name='fechaNacimiento'>
    <p> Edad:</p>
    <input type='number' name='edad'>
    <p> E-mail:</p>
    <input type='text' name='email'>
 
    
    
    
    
    <button type="submit" title="Registrar" name="Ingresar">Registrar</button>


 </form>
 <div class="pie-form">
    <a href="{% url 'login' %}">Volver</a>
</div>
</div>

</div>
</div>



 {% endblock contenido %}