{% extends "products/base.html" %}
{% load  static %}
 
{% block titulo %}
    
{% endblock titulo %}
 
{% block contenido %}
<body>
         
  <div id="contenedor">
      <div id="central">
          <div id="login">
              <div class="titulo; color:red;">
                  Producto Eliminado
              </div>
              <div class="pie-form">
                <a href="{% url 'Productos' %}">Vuelve a Productos</a>
              </div>
          </div>
          
      </div>
  </div>
      
</body>
{% endblock contenido %}