{% extends "products/base.html" %}
{% load  static %}
 
 {% block titulo %}
     Carga Plantines
 {% endblock titulo %}
 
 {% block contenido %}
 


 
<body>
         
    <div id="contenedor">
        <div id="central">
            <div id="login">
                <div class="titulo">
                   Carga de Plantines
                </div>
                 <form action="{% url 'plantin' %}" method='post'>
                    {%csrf_token%}
                   <p> Nombre:</p>
                   <input type='text' name='nombre'>
                   <p> Tipo:</p>
                   <input type='text' name='tipo'>
                   <p> Tamaño:</p>
                   <input type='text' name='tamaño'>
                   <p> Stock:</p>
                   <input type='number' name='stock'>
 
                   <input type='submit' value='Enviar'>


                  </form>
                  
                </div>
            </div>

        </div>
    </div>
</body>



 {% endblock contenido %}