{% extends "products/base.html" %}
{% block titulo %} Lista de Productos {% endblock titulo %}
{% block contenido %}

<section>
  <div>
  <h1 style='color:#198754'>Lista de Arboles </h1>
  <a href="{% url 'arbol' %}">Carga de Arboles</a>
  <br>
  
  <form action="{% url 'buscaarbol' %}" method="post">
    {% csrf_token %}
    <input type="text" name="nombre">
    <input type="submit" value="Buscar">
  </form>
  <br>
  
  <ul>
   {% for planta in Arboles %}
    <li> {{ planta.nombre}},{{ planta.stock }}</li>
   {% endfor %}
  </ul>
  </div>
  </section>



{% endblock contenido %}
