{% extends 'products/base.html'%}

{%load static%}

{% block titulo %} Lista de Productos {% endblock titulo %}

  



{% block contenido %}
 
<body>

<div id="contenedor">
  <div id="central">
      <div id="login">
          <div>
           <a href="{% url 'listplantin'%}">
           <button type="btn-btn-primary" title="Plantines" >
             LISTA PLANTINES
           </button>
           <a href="{% url 'listarbol' %}">
           <button type="btn-btn-primary" title="Arboles" >
              LISTA ARBOLES
           </button>
           <a href="{% url 'listfrutal'%}">
           <button type="btn-btn-primary" title="Frutales" >
              LISTA FRUTALES
           </button>
          </div>
       </div>
   </div>
</div>

 
</body>


{% endblock contenido %}

