{% extends "products/base.html" %}
{% load static %}
{% block titulo %} Lista de Productos {% endblock titulo %}
{% block contenido %}

<section>
    
    <div>
      {% if user.is_staff %}
        <h1 style='color:#198754'>Lista de Arboles</h1>
        <a href="{% url 'createarbol'%}">
            <button type="btn-btn-primary" title="Arboles" >
              Carga Arboles
            </button>
            <br>        
            <br>
        </a>
      {% endif %}
 <form action="{% url 'buscaarbol'  %}" method="post">
    {% csrf_token %}
    <input type="text" name="nombre">
    <input type="submit" value="Buscar">
    
  </form>
  {{ planta.nombre}}
  {{ planta.stock }}

 <br>
 <table class="table" >
  <tbody >
    <tr>
      <th>Nombre</th>
      <th>Cantidad</th>
     
    </tr>
    {% for planta in object_list %}
    <tr>
      <th>{{ planta.nombre}}</th>
      <th>{{ planta.stock }}</th>
      
      {% if user.is_staff %}
      <td>
      <a href="{% url 'verarbol' planta.id %}">Ver</a> 
      </td>
      <td>
      <a href="{% url 'editarbol' planta.id %}">Editar</a>
      </td>
      <td>
        
        <button href="modal" type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Eliminar
        </button>
        
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                
                
              </div>
              <div class="modal-body">
                <h3>Estas seguro que queres eliminar este elemento?</h3>
              </div>
              <div href="#" class="modal-footer">
                <a href="{% url 'eliminaarbol' planta.id %}" type="submit" class="btn btn-red">Eliminar</a>
              </div>
              <div href="#" class="modal-footer">
                <a href="{% url 'listarbol'%}" type="submit" class="btn btn-primary">Cancelar</a>
              </div>
            </div>
          </div>
        </div>
      </td>
      {% endif %}
      {% if user.is_authenticated %}
      <th>{{ planta.precio }}</th>
    
      <td>
        <a  class="btn btn-dark"href="{% url 'addcarrito' planta.id %}">Agregar al carrito</a>
      </td>
      {% endif %}
   
    
    </tr>
    {% endfor %}
    <div class="pie-form">
      <a href="{% url 'Productos' %}">Volver al Listado</a>
  </div>
    
  </tbody>
 </table>

 
</div>

<section>
    
<div>



{% endblock contenido %}
