{% extends "products/base.html" %}
{% block titulo %} Lista de Productos {% endblock titulo %}
{% block contenido %}


<section>
  <div>
    <h1 style='color:#198754'>Lista de Plantines</h1>
    <a href="{% url 'createplantin'%}">
      <button type="btn-btn-primary" title="Plantines" >
        Carga Plantines
      </button>
      <br>
    <br>
    </a>


 <form action="{% url 'buscaplantin' %}" method="post">
      {% csrf_token %}
      <input type="text" name="nombre">
      <input type="submit" value="Buscar">
</form>
<br>

<table class="table" >
  <tbody >
    <tr>
      <th>Nombre</th>
      <th>Cantidad</th>
     
    </tr>
    {% for planta in object_list %}
    <tr>
      <th>{{ planta.nombre}}</th>
      <th>{{ planta.stock }}</th>
      {% if user.is_staff %}
      <td>
      <a href="{% url 'verplantin' planta.id %}">Ver</a> 
      </td>
      <td>
        <a href="{% url 'editplantin' planta.id %}">Editar</a>
        </td>
        <td>
          <a href="{% url 'eliminaplantin' planta.id %}">Eliminar</a>
        </td>
      {% endif %}
    </tr>
    </tr>
    {% endfor %}
    
  </tbody>
 </table>
</div>
</section>

{% endblock contenido %}
