{% extends "products/base.html" %}
{% block titulo %} Lista de Productos {% endblock titulo %}
{% block contenido %}

<section>
    
    <div>
        <h1 style='color:#198754'>Lista de Arboles</h1>
        <a href="{% url 'createarbol'%}">
            <button type="btn-btn-primary" title="Arboles" >
              Carga Arboles
            </button>
            <br>        
            <br>
        </a>

 <form action="{% url 'buscaarbol'  %}" method="post">
    {% csrf_token %}
    <input type="text" name="nombre">
    <input type="submit" value="Buscar">
    
  </form>
  {{ planta.nombre}}
  {{ planta.stock }}

 <br>
 <table class="table" >
  <tbody >
    <tr>
      <th>Nombre</th>
      <th>Cantidad</th>
     
    </tr>
    {% for planta in object_list %}
    <tr>
      <th>{{ planta.nombre}}</th>
      <th>{{ planta.stock }}</th>
      {% if user.is_staff %}
      <td>
      <a href="{% url 'verarbol' planta.id %}">Ver</a> 
      </td>
      <td>
      <a href="{% url 'editarbol' planta.id %}">Editar</a>
      </td>
      <td>
        <a href="{% url 'eliminaarbol' planta.id %}">Eliminar</a>
      </td>
      {% endif %}
    </tr>
    </tr>
    {% endfor %}
    
  </tbody>
 </table>

 
</div>

<section>
    
<div>



{% endblock contenido %}
