{% extends "products/base.html" %}
{% load static %}
{% block titulo %} carrito {% endblock titulo %} 

{% block contenido %}
<br>
<body>
         
  <div class="container">
        <div class="dropdown-item-text" style="float:right;">
         {% include 'products/carro/widget.html' %}
         </div>
        
           <div class="row">
                {% for p in planta %}
                   
                   <div class="col-md-3">
                     
                    <div class="card" style="width 100%"> 
                        
                      <div class="card-body"><p>
                            
                        <h5 class="card-title">{{p.nombre}}</h5>
                        <p class="card-text">{{p.precio}} $</p>
                        <p><img  src="{{ p.imagen.url }}" width="100" height="100"></p>
                      </p></div>
                      
                      {% if user.is_authenticated %}
                      <div class="card-footer text-center">
                        <a href="{% url 'addcarrito' p.id %}" class="btn btn-primary">Agregar al carrito</a>
                       </div>
                       {% endif %}
                    </div>

                  </div>
                   
                {% endfor %}

                
                  
            </div>
           

         </div>
  </div>
</body>









{% endblock contenido %}











